body {
    background:#EDEAE5;
    margin: 0;
    padding: 0;
}

nav {
    float: right;
}

.hero {
    height: 350px;
    width: 100%;
    background-image: url("../images/pencil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
.feature {
    margin: 0 auto;
}
.product-image img{
    width: 30%;
    height: auto;
    float: left;
    margin: 0 10px;
}