body {
    background:#EDEAE5;
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 15px;
}

nav {
    /* float: right; */
}
nav a {
    color: #000000;
    text-decoration: none;
}

.hero {
    /* height: 350px; */
    width: 100%;
    background: #000000;
}
.logo {
    height: 300px;
    text-align: center;
    padding-top: 50px;
}
.logo img {
    height: 85%;
}
.feature {
    margin: 0 15px;
}
.product-image img{
    width: 30%;
    height: auto;
    float: left;
    margin: 0 10px;
}