<!DOCTYPE html>
<html lang="en">
    <head>
        <title>store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1>Austin Jones Woodworks</h1>
        </div>
        <div class="hero">
            <div>
                Shop Now
            </div>
        </div>
        <div class="feature">
            Featured Products
        </div>
        <div class="about">
            Read More
        </div>
        <footer>
            newsletter
        </footer>
    </body>
</html>